.container {
    max-width: 1500px;
    margin: 25vh auto 0px;
}

/* ------------------------------------- NAVIGATION ------------------------------------- */

.nav {
    width: calc(100% - 10px);
    padding: 20px 200px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-toggle {
        display: none;
    }

    &-logo {
        font-size: 2em;
        font-family: 'Great Vibes', cursive;
        background: linear-gradient(to right, $sub, $opposite);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    &-social {
        display: flex;
        gap: 1em;

        &-fb:hover {
            filter: invert(44%) sepia(65%) saturate(4969%) hue-rotate(198deg) brightness(102%) contrast(104%);
        }

        &-ins:hover {
            filter: invert(18%) sepia(90%) saturate(5775%) hue-rotate(328deg) brightness(98%) contrast(107%);
        }

        &-linkedin:hover {
            filter: invert(29%) sepia(88%) saturate(4621%) hue-rotate(198deg) brightness(88%) contrast(92%);
        }

        &-twitter:hover {
            filter: invert(65%) sepia(49%) saturate(6285%) hue-rotate(178deg) brightness(97%) contrast(93%);
        }

        li {
            transition: transform .4s;
        }

        li:hover {
            transform: translateY(-5px);
        }
    }

    &-social-mobile {
        display: none;
    }
}

/* ------------------------------------- HERO-SECTION ------------------------------------- */

.hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .hero {
        padding-left: 200px;
        display: flex;
        flex-direction: column;
    
        &-text { 
            p {
                width: 70%;
            }

            span {
                color: $sub;
            }
        }
        
        &-btns {
            display: flex;
            gap: 50px;
        }
    }
}


/* ------------------------------------- ABOUT-SECTION ------------------------------------- */

.about {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    &-text  {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            color: $opposite;
            text-shadow: 2px 2px 1px $sub;
        }

        p {
            width: 50%;
        }
    }

    &-img {
        width: 30%;
        box-shadow: -20px -20px 1px $sub, 20px 20px 1px $opposite;
    }
}

/* ------------------------------------- PROJECTS-SECTION ------------------------------------- */

.projects-section {
    margin-top: 25vh;
    padding-bottom: 100vh;
    background-color: $bright;

    &-header {
        color: $sub;
        text-shadow: 2px 2px 1px $opposite;
        text-align: center;
    }
}

.projects {   
    background: linear-gradient(to right, rgba($sub, 0.8), rgba($opposite, 0.8));

    .project-wrapper {
        display: flex;
        padding: 20px;

        .project-nav {
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            
            span {
                color: $bright;
                font-size: 5em;
                position: relative;
            }
        }

        .project {
            width: 75%;
            height: 100%;
            padding: 20px;
            background: $bright;
            color: $dark;
            border-radius: 5px;
            box-shadow: 0 3px 10px $dark;
            overflow: hidden;
            display: flex;
            align-items: center;

            a {
                border: 1px solid $sub;
            }

            &-desc {
                padding: 50px 0px 50px 50px;
    
                h3, .time {
                    color: $opposite;
                }
        
                li {
                    position: relative;
                    margin-left: 40px;
                    margin-bottom: 15px;
        
                    img {
                        width: 24px;
                        position: absolute;
                        left: -40px;
                    }
                }
            }
        }
    }
}

/* ------------------------------------- CONTACT-SECTION ------------------------------------- */

.contact-section {
    display: flex;
    align-items: center;

    .container {
        margin: 100px auto 0;
    }

    .contact {
        box-sizing: border-box;
        padding: 50px;
        background: linear-gradient(to right, rgba($shade, 0.8), rgba($sub, 0.8));
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    
        &-text {
            width: 50%;
            font-size: 2em;
            color: $bright;
    
            span {
                display: block;
                color: $main;
                font-weight: 700;
            }
        }
    
        &-form {
            display: flex;
            flex-direction: column;
            gap: 20px;
    
            button {
                align-self: center;
                border: none;
                margin-top: 20px;
            }
            
            button:hover {
                background: $dark;
            }
        }
    }

    .footer {
        background: $dark;
        padding: 20px 0;
        font-size: .8em;
        color: $bright;
        text-align: center;
        bottom: 0;
        left: 0;
        right: 0;
    }
}