@media only screen and (max-width: 992px) {
    h2 {
        font-size: 3em;
    }

    input, textarea {
        width: 300px;
    }

    .nav {
        padding: 20px;
    }

    .hero {
        padding: 100px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about {
        &-text {

            p {
                width: 80%;
            }
        }
    }

    .projects-section {
        margin: 0;

        &-header {
            padding: 100px;
        }
    } 

    .projects {
        margin: 0;
        padding: 50px;

        .project {
            max-width: 80%;
        } 
    }

    .contact {
        &-text {
            font-size: 1.5em;
        }
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 3em;
    }

    .nav {

        &-toggle {
            display: block;
            width: 28px;
            z-index: 999;
        }

        &-overlay {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: rgba($color: #000000, $alpha: 0.3);
        }

        &-social {
            display: none;
        }

        &-social-mobile {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            width: 50%;
            background: $bright;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            li {
                margin: 20px 0;
                
                img {
                    width: 32px;
                }
            }
        }
    }

    .hero-section {
        margin: 50px auto 100px;
    }

    .hero {
        padding: 0;

        &-text {
            padding: 50px 30px 0px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                width: 100%;
            }
        }

        &-btns {
            gap: 20px;
            flex-direction: column;
        }
    }

    .projects {
        padding: 50px 20px;

        .project {
            max-width: 100%;
        }
    }

    .contact {
        flex-direction: column;

        &-text {
            width: 100%;
        }
    }
}